<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
  <h3 class="w3-bar-item">Menu</h3>
  <a class="w3-bar-item w3-button">Create</a>
  <a class="w3-bar-item w3-button">View all task</a>
</div>
<div style="margin-left:25%">
  <div class="w3-container w3-teal">
    <h1>Welcome user</h1>
  </div>
</div>
<div class="form-style-6">
  <h1>Create task</h1>
  <form class="well" (ngSubmit)="createTask()" [formGroup]="CreateTaskForm">
    <div class="form-group" [ngClass]="displayFieldCss('task')">
      <div class="col-sm-12">
        <input type="text" id="task" class="form-control" formControlName="task">
        <app-field-error-display [displayError]="isFieldValid('task')" errorMsg="Please inter your task">
        </app-field-error-display>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-xs-offset-4 col-xs-4">
        <my-date-picker name="mydate" [options]="myDatePickerOptions" formControlName="date"></my-date-picker>
      </div>
    </div>
    <input type="submit" value="Send" />
    <p><a [routerLink]="['/login']">Logout</a></p>
  </form>
</div>
